<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

  <display-name>Tabla de multiplicacion</display-name>
  <description>
     servlet para ejecutar una tabla de multiplicacion
  </description>

<!-- Publicamos nuestro servlet aqui -->

    <servlet>
        <servlet-name>multiplicar</servlet-name>
        <servlet-class>Multiplicar</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>multiplicar</servlet-name>
        <url-pattern>/multiplicar</url-pattern>
    </servlet-mapping>

<!-- Fin de la publicacion de servlets -->

</web-app>
